{%  extends "constantes.html" %}

{% block title %}Usuario Externo{% endblock %}

{% block espacios %}
<br><br><br>
{% endblock %}

{% block desarrollo %}
    <div class="col"></div>

    <div class="col-3">
        <form class="align-items-center">
            <div class="mb-3 text-center">
                <img src="{{url_for('static',filename='images/user.png')}}" alt="User" width="200px" height="200px">
            </div>

            <div class="mb-3">
                <label for="id_field" class="form-label">Cedula</label>
                <input type="text" class="form-control" placeholder="Digite unicamente números" id="id_field">
                <div id="info" class="form-text">No compartiremos tu cedula con nadie mas</div>
            </div>
            <div class="mb-3">
                <label for="password_field" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password_field" placeholder="Password">
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Entrar</button>
                <button type="button" class="btn btn-primary">Registrarse</button>
            </div>

            <div class="accordion accordion-flush" id="recuperar_info">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                      <button class="accordion-button collapsed" style="border: 1px solid" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Recuperar información
                      </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="mb-3"></div>

                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Digite su nombre completo" id="name">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Digite la fecha de nacimiento ej: 23/08/1998" id="date">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Respuesta a pregunta de seguridad" id="security_word">
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-warning">Recuperar nombre de usuario</button>
                            <button type="button" class="btn btn-warning">Recuperar contraseña</button>            
                        </div>

                    </div>
                  </div>
            </div>
        </form>
    </div>

    <div class="col"></div>
{% endblock %}