{%  extends "constantes.html" %}

{% block title %}Registro{% endblock %}

{% block espacios %}
<br><br><br>
{% endblock %}

{% block desarrollo %}
<form>
    <div class="col">
        <div class="mb-3">
            <label for="cedula_field" class="form-label">Cedula</label>
            <input type="text" class="form-control" id="cedula_field" placeholder="Digite solo números">
            <div id="info" class="form-text">No compartiremos tu cedula con nadie.</div>
          </div>
          <div class="mb-3">
            <label for="name_field" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name_field" placeholder="Digite su nombre completo">
          </div>
          <div class="input-group mb-3">
            <select class="form-select" id="inputGroupSelect01">
                <option selected>Seleccione su sexo...</option>
                <option value="1">Hombre</option>
                <option value="2">Mujer</option>
              </select>
          </div>
    </div>

    <div class="col">
        
    </div>

    <div class="col">
        
    </div>
  </form>    
{% endblock %}